:root {
  --first-colour: #56a7a7;
  --second-colour: #7cc1c1;
  --third-colour: #d8eded;
  --fourth-colour: #002e2e;
  --main-font: "Lato", sans-serif;
  --display-font: "Lobster Two", cursive;
}

h1 {
  font-family: var(--display-font);
  color: var(--first-colour);
  font-size: 120px;
  margin-top: -20px;
}

h2 {
  font-family: var(--main-font);
  color: var(--fourth-colour);
  font-size: 40px;
  font-weight: 100;
  margin-top: -20px;
  margin-bottom: 20px;
}

footer {
  font-family: var(--main-font);
  color: var(--third-colour);
  font-size: 14px;
  padding-top: 30px;
  text-align: center;
}

a {
  color: var(--second-colour);
  text-decoration: none;
}

footer a {
  color: var(--text-colour);
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  background: var(--third-colour);
  color: #fff;
}

button {
  background-color: var(--third-colour);
  border: none;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 4px !important;
  opacity: 1;
  transition: 0.3s;
  font-family: var(--main-font) !important;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

button a {
  color: var(--fourth-colour);
  text-decoration: none;
}

button a:hover {
  color: var(--first-colour);
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #fff;
  opacity: 0.8;
}

.borderImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.borderImg svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 144px;
}

.borderImg .shape-fill {
  fill: #7cc1c1;
}

@media screen and (max-width: 765px) {
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 489px) {
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 25px;
  }
}
