:root {
  --first-colour: #56a7a7;
  --second-colour: #7cc1c1;
  --third-colour: #d8eded;
  --fourth-colour: #002e2e;
  --fifth-colour: #c0e0e1;
  --main-font: "Lato", sans-serif;
  --display-font: "Lobster Two", cursive;
  --subhead-font: "Zilla Slab", serif;
  --radius: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3 {
  margin-top: -20px;
}

h1 {
  font-family: var(--display-font);
  color: var(--first-colour);
  font-size: 220px;
}

h2 {
  font-family: var(--main-font);
  color: var(--fourth-colour);
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--main-font);
  color: var(--fourth-colour);
  font-size: 30px;
  font-weight: 100;
  text-align: right;
  opacity: 0.7;
  margin-bottom: 20px;
}

h4 {
  font-family: var(--main-font);
  color: var(--fourth-colour);
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 20px;
}

footer {
  font-family: var(--main-font);
  color: var(--third-colour);
  font-size: 14px;
  padding-top: 30px;
  text-align: center;
}

a {
  color: var(--second-colour);
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 700;
}

button {
  background: var(--second-colour);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 265px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: var(--subhead-font);
}

button:hover {
  opacity: 0.6;
}

button a {
  color: var(--fourth-colour);
  text-decoration: none;
}

button a:hover {
  color: var(--first-colour);
  text-decoration: none;
}

section {
  display: flex;
  min-height: 100px;
  padding: 60px 10vw;
  margin: 0;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

p,
li {
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--fourth-colour);
}

li {
  max-width: 400px;
  opacity: 0.4;
  margin-left: 5vw;
  margin-right: 5vw;
}

footer {
  font-family: var(--main-font);
  color: var(--fourth-colour);
  font-size: 14px;
  text-align: center;
}

footer a {
  color: var(--first-colour);
  text-decoration: none;
}

footer a:hover {
  cursor: pointer;
  color: var(--second-colour);
  opacity: 0.5;
}

ul a {
  font-weight: normal;
}

/* content css*/

.container {
  margin-top: 100px;
  padding: 20px 10vw;
}

.container h1 {
  font-size: 100px;
}

.content {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 25px;
  font-family: var(--main-font);
  font-weight: 200;
}

.about-content {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 200;
}

.card {
  box-shadow: 10px 10px 20px rgba(124, 193, 193, 0.2);
}

.subheading {
  font-family: var(--subhead-font);
  color: var(--first-colour);
  font-size: 40px;
  opacity: 0.5;
  text-align: center;
  font-weight: 100;
  margin-top: 60px;
  margin-bottom: 30px;
}

.altButton {
  color: var(--second-colour);
  background: #ffffff;
  border: 1px solid var(--second-colour);
}

.box {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: row;
}

.sect1 {
  background: var(--third-colour);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacearound {
  justify-content: space-around;
}

.spacebet {
  justify-content: space-evenly;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.form-group {
  margin-top: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.arrowContainer {
  margin-top: -40px;
}

/*navbar css*/

.navbar-custom {
  background-color: #7dc1c1;
  box-shadow: none;
  height: 45px;
  padding-bottom: 10px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--third-colour);
  font-family: var(--subhead-font);
  font-size: 25px;
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--third-colour);
  font-family: var(--main-font);
}

.navbar-custom .navbar-toggler {
  color: var(--first-colour);
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: var(--first-colour);
  background: var(--third-colour);
  transition: 0.3s;
}

/* images css*/

.appImg {
  width: 600px;
  min-width: 350px;
  padding: 5px;
  box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.1);
}

.borderImg {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.borderImg svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 144px;
}

.borderImg .shape-fill {
  fill: #7cc1c1;
}

.topImg {
  position: absolute;
  top: 5;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.topImg svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 57px;
}

.topImg .shape-fill {
  fill: #7cc1c1;
}

.skillsImg {
  font-family: var(--main-font);
  font-size: 60px;
  color: var(--fifth-colour);
}

.footerImg {
  font-size: 40px;
  color: var(--second-colour);
}

.profileImg {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

/*responsive info*/

@media screen and (max-width: 768px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 25px;
  }

  .container h1 {
    font-size: 70px;
  }

  .arrowContainer {
    display: none;
  }

  button {
    margin: 0 auto;
    display: block;
    font-size: 15px;
  }

  .hero button {
    max-width: 150px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .subheading {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }

  .appImg {
    display: none;
  }

  .profileImg {
    display: none;
  }

  .list-group {
    max-width: 300px;
    margin-left: 0px;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 970px) {
  .arrowContainer {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .list-group {
    max-width: 600px;
    margin-left: 0px;
  }
}
